@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url('images/gif.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Orbitron", sans-serif;
}

select{
    font-size: 10px;
    margin-top: 3%;
    margin-left: 38%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family:'Press Start 2P', cursive;
    color: #fff;
    background-color: #b1b1b1;
}
form {  
    margin: 0 auto;
    margin-top: 3%;
    padding: 20px;
    background-color: #f5d7ec;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 400px;
}

h1 {
    font-size: 55px;;
    margin-top: 10%;
    text-align: center;
    color: #f1ebeb;
    text-transform: uppercase;
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    background-color: #b1b1b1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}
