@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background: linear-gradient(to bottom, #f7d0eb, #ffffd6);
    font-family: 'Press Start 2P', cursive;
}

form {
    margin-top: 5%;
    margin-left: 35%;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid rgb(239, 239, 187);
    border-radius: 25px;
    width: 400px;
}

h1 {
    margin-top: 12%;
    font-size: 60px;
    text-align: center;
    color:aliceblue;
    text-transform: uppercase;
}

input[type="submit"] {
    font-family: 'Press Start 2P', cursive;
    margin-left: 34%;
    display: block;
    background-color: rgb(255, 203, 226);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

select{
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;;
    color: #f0acd4;
    border-radius: 5px;
    margin-left: 39%;
    background-color: #feffe6;
}


