@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    background-image: url('images/gif.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Orbitron", sans-serif;
}

select{
    margin-top: 3%;
    margin-left: 41%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "Orbitron", sans-serif;
}
form {  
    margin: 0 auto;
    margin-top: 3%;
    padding: 20px;
    background-color: #e6d7f0;
    border: 2px solid #e9c4e1;
    border-radius: 10px;
    width: 400px;
}

h1 {
    font-size: 55px;;
    margin-top: 10%;
    text-align: center;
    color: #f1ebeb;
    text-transform: uppercase;
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    background-color: #b1b1b1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Orbitron", sans-serif;
}
